@import "colors";

.header {
	position: relative;
	z-index:100;
	background:white;
	border-bottom: 1px solid $offWhite;

	.content {
		padding-top:18px;
		padding-bottom:16px;
		justify-content: space-between;
		align-items: center;
	}
}

.header-logo {
	position: relative;
	width:400px;
	height:auto;

	img {
		width:100%;
		max-width:380px;
		height:auto;
	}
}

.logo-subhead {
	// font-family: 'Cormorant Garamond', serif;
	margin:5px 0px 5px 4px;
	font-size:12px;
	line-height: 1.4;
	color:$gray;
}

.main-nav {

	ul {
		display: flex;
		flex-wrap:wrap;
		align-items: center;
		font-size:14px;
	}

	li {
		position:relative;
		display: inline-block;
		height:auto;
		padding:5px 0px 4px 0px;

		a {
			position: relative;
			color:$black;
			opacity:.75;
			padding:5px 12px;
		}

		&:before {
			content:"";
			position:absolute;
			top:0;
			right:-1px;
			display: inline-block;
			height:100%;
			width:101%;
			background:white;
			transition:all 0.3s ease-out;
			transform: skew(-20deg, 0deg);
			border:1px solid white;
			border-left:1px solid $offWhite;
		}

		&:nth-of-type(1) {

			&:before {
				border-left:1px solid white;
			}
		}

		&:hover {

			a {
				color:white;
			}

			&:before {
				background:$red;
				border-right:1px solid $red;
				border-color:$red;
			}

			&:nth-of-type(1) {

				&:before {
					border-left:1px solid $offWhite;
				}
			}
		}
	}
}

li.current-menu-item {

	&:before {
		// background: $offWhite;
		border-left:1px solid $red;
	}

	a {
		color:$red;
	}

	&:hover {

		a {
			color:white;
		}
	}
}

li.current-menu-item + li {

	&:before {
		border-left:1px solid $red;
	}

}

.mobile-menu {
	display: none;
}

// 1024px And Below
@media screen and (max-width: 1024px){

	.header {

		.header-logo {
			z-index: 100;
		}

		.mobile-menu {
			cursor: pointer;
			display: block;
			position: absolute;
			top:52px;
			right:26px;
			z-index:100;
			display: flex;
			flex-wrap:wrap;
			align-items:center;
			justify-content:center;
			width:20px;
			height:16px;

			span {
				display: block;
				height:2px;
				width:100%;
				background-color: $maroon;
			}
		}

		.main-nav {
			position: fixed;
			top:0;
			left:101%;
			height:100vh;
			width:100%;
			background-color: white;
			color:white;
			z-index: 98;
			text-align: center;

			ul {
				margin-top:15vh;
				height:80vh;
				padding-left:25px;
				padding-right:25px;
				flex-direction: column;
				align-items: flex-start;
				justify-content: flex-start;
				padding-top:3vh;
			}

			li {
				font-size:1.2em;
				width:100%;
				text-align: left;
				margin-bottom: 3vh;

				&:before {
					display: none;
				}
			}

			.sub-menu {
				opacity:1;
				font-size:16px;
				background:#f9f9f9;
				flex-wrap:wrap;
				position: relative;
				z-index: 999;
				top:0;
				left:0;
				width:auto;
				height:auto;
				padding:14px 0px 0px 0px;
				margin-top:10px;

				li {
					margin-bottom:8px;
				}

				a {
					font-weight:400;


					&:hover {

					}
				}

				.current-menu-item {

					a {
						font-weight:800;

					}
				}
			}

			.sub-menu-title {
				display: none;
			}
		}
	}

	li.current-menu-item {
		border-top: 1px solid $offWhite;
		border-bottom: 1px solid $offWhite;

		&:before {
			display: none;
		}

		a {
			color:$red;
		}

		&:hover {

			a {
				color:white;
			}
		}
	}

	li.current-menu-item + li {

		&:before {
			display: none;
		}

	}

}


// 767px And Below
@media screen and (max-width: 767px){

	.header {

		.content {
			padding-left:20px;
		}

		.main-nav {

			ul {
				margin-top:18vh;

				li {

					&:hover {

						a {
							color:$maroon;
						}
					}
				}
			}
		}

	}

	.header-logo {
		width:75%;

		img {

		}
	}

	.logo-subhead {
		// font-size:14px;
	}
}
