@import "colors";

.header {
	position: relative;
	z-index:100;
	background:white;
	border-bottom: 1px solid $offWhite;

	.content {
		padding-top:24px;
		padding-bottom:24px;
		justify-content: space-between;
		align-items: center;
	}
}

.header-logo {
	position: relative;
	width:450px;
	height:auto;

	img {
		width:100%;
		max-width:380px;
		height:auto;
	}
}

.logo-subhead {
	// font-family: 'Cormorant Garamond', serif;
	margin:5px 0px 5px 4px;
	font-size:12px;
	line-height: 1.4;
	color:$gray;
}

.main-nav {

	ul {
		display: flex;
		flex-wrap:wrap;
		align-items: center;
		font-size:13px;
	}

	li {
		position:relative;
		display: inline-block;
		height:auto;
		padding:5px 0px 4px 0px;

		a {
			position: relative;
			color:$black;
			opacity:.75;
			padding:5px 12px;
		}

		&:before {
			content:"";
			position:absolute;
			top:0;
			right:-1px;
			display: inline-block;
			height:100%;
			width:101%;
			background:white;
			transition:all 0.3s ease-out;
			transform: skew(-20deg, 0deg);
			border:1px solid white;
			border-left:1px solid $offWhite;
		}

		&:nth-of-type(1) {

			&:before {
				border-left:1px solid white;
			}
		}

		&:hover {

			a {
				color:white;
			}

			&:before {
				background:$red;
				border-right:1px solid $red;
			}

			&:nth-of-type(1) {

				&:before {
					border-left:1px solid $offWhite;
				}
			}
		}
	}
}

li.current-menu-item {

	&:before {
		// background: $offWhite;
		border-left:1px solid $red;
	}

	a {
		color:$red;
	}

	&:hover {

		a {
			color:white;
		}
	}
}

.mobile-menu {
	display: none;
}

li.current-menu-item + li {

	&:before {
		border-left:1px solid $red;
	}

}

// 1024px And Below
@media screen and (max-width: 1024px){

	.header {

	}
}


// 767px And Below
@media screen and (max-width: 767px){

	.header {

	}
}
