@import "colors";

.photos-page {

  .hero-section {

    h1 {
      text-align: center;
      width:100%;
      border-bottom: 0px solid $maroon;
      // font-size:3em;
    }

    .content {
      padding:26px 0 6px 0;
    }
  }

}

// 1024px And Below
@media screen and (max-width: 1024px){

}


// 767px And Below
@media screen and (max-width: 767px){

}
