@import "colors";

.publications-page {

}

.publication-section {

}

.single-publication {

  .publication-book {
    position: relative;
    width:18%;
    margin-right:15px;
  }
}



// 1024px And Below
@media screen and (max-width: 1024px){

}

// 767px And Below
@media screen and (max-width: 767px){

  .single-publication {

    .publication-book {
      margin:20px 0px 20px 0px;
      padding-bottom:10px;
      // border-bottom:1px solid $lightGray;
      width:100%;
      margin-right:0px;
    }
  }
}
