@import "colors";

.publications-page {

  .hero-section {

    .content {
      // padding-bottom:40px;
    }
  }
}

.courses-section {

}

.publication-section-intro {
  width:100%;
  margin-bottom:14px;
}

.publication-section-group {
  width:100%;
  margin-bottom:15px;
}



// 1024px And Below
@media screen and (max-width: 1024px){

}

// 767px And Below
@media screen and (max-width: 767px){

}
