@import "colors";

.publications-page {

}

.single-publication {
  align-items: center;

  .publication-book {
    position: relative;
    display: inline-block;
    width:25%;
    margin-right:15px;
  }

  .grid-publication-name {
    font-size:1.25em;
  }

  .grid-info {
    flex:1;
  }
}



// 1024px And Below
@media screen and (max-width: 1024px){

}

// 767px And Below
@media screen and (max-width: 767px){

  .single-publication {

    .publication-book {
      margin:20px 0px 20px 0px;
      padding-bottom:10px;
      // border-bottom:1px solid $lightGray;
      width:100%;
      margin-right:0px;
    }
  }
}
