@import "colors";

.public-appearances-page {

}

.public-appearance-section {

}

.single-public-appearance {

  .grid-date {
    margin-top:0px;
    margin-bottom:8px;
  }

  .grid-publication-name {
    width:100%;
    margin-top:10px;
    margin-bottom:0px;
  }
}



// 1024px And Below
@media screen and (max-width: 1024px){

}

// 767px And Below
@media screen and (max-width: 767px){

}
