@import "colors";

.page-teaching {

}

.single-course-link {
  width:100%;

  .button {

  }
}

.single-course-name {
  display: inline-block;
}

.single-course-date {
  display: inline-block;
  color:$lightGray;
}
